/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Playfair+Display&display=swap');

/* Hides text with the class "hide-letter" */
.hide-letter {
    visibility: hidden;
}

/* Styling for the dark mode icon */
#darkmode {
    /* Positioning */
    position: fixed;
    bottom: 0.6vw; /* Adjust distance from the bottom */
    right: 0.6vw; /* Adjust distance from the right */

    /* Z-index to ensure it's on top of other elements */
    z-index: 9999;

    /* Width of the icon relative to the viewport */
    width: 3vw;
    cursor: not-allowed;
}

/* Styling for the language icon */
#lang {
    /* Positioning */
    position: fixed;
    bottom: 0.6vw; /* Adjust distance from the bottom */
    right: 3.9vw; /* Adjust distance from the right */

    /* Z-index to ensure it's on top of other elements */
    z-index: 9999;

    /* Width of the icon relative to the viewport */
    width: 3vw;
    cursor: not-allowed;
}

/* Styling for the PMI Logo */
#pmilogo {
    /* Positioning */
    position: fixed;
    bottom: 35vw; /* Adjust distance from the bottom */
    right: 74vw; /* Adjust distance from the right */

    /* Z-index to ensure it's on top of other elements */
    z-index: 9999;

    /* Width of the icon relative to the viewport */
    width: 25vw;

    /* Adjust vertical position as needed */
    top: -6.3vw;
    left: 3vw;
}

/* Container for the <hr> */
.hr-container {
    position: relative;
    height: 1px; /* Height of the container, adjust as needed */
}

/* Styling for the <hr> */
.custom-hr {
    position: fixed;
    top: 22%; /* Adjust vertical position as needed */
    left: 0;
    width: 100%; /* Make the line stretch across the viewport */
    border: none;
    height: 1px; /* Height of the <hr> line */
    background-color: black; /* Change color if desired */
}

/* Styling for heading h51 */
.h51 {
    font-size: 130px;
    position: fixed;
    bottom: 42.3vw; /* Adjust distance from the bottom */
    right: 37.2vw; /* Adjust distance from the right */

    /* Z-index to ensure it's on top of other elements */
    z-index: 9999;

    /* Width of the icon relative to the viewport */
    width: 3vw;
    font-family: 'Open Sans', sans-serif;
    color: #6d6d6d; /* Adjust color as needed */
    cursor: not-allowed;
}

/* Styling for heading h52 */
.h52 {
    font-size: 130px;
    position: fixed;
    bottom: 42.3vw; /* Adjust distance from the bottom */
    right: 19vw; /* Adjust distance from the right */

    /* Z-index to ensure it's on top of other elements */
    z-index: 9999;

    /* Width of the icon relative to the viewport */
    width: 3vw;
    font-family: 'Open Sans', sans-serif;
    color: #6d6d6d; /* Adjust color as needed */
    cursor: not-allowed;
}

/* Styling for heading h53 */
.h53 {
    font-size: 130px;
    position: fixed;
    bottom: 42.3vw; /* Adjust distance from the bottom */
    right: 67vw; /* Adjust distance from the right */

    /* Z-index to ensure it's on top of other elements */
    z-index: 9999;

    /* Width of the icon relative to the viewport */
    width: 3vw;
    font-family: 'Open Sans', sans-serif;
    color: #6d6d6d; /* Adjust color as needed */
    cursor: not-allowed;
}

/* Container for the copyright text */
.copyright-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 10vh; /* Adjust height as needed */
}

/* Styling for the copyright text */
.copyrightann {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    margin-top: 160px; /* Adjust top margin as needed */
    /* Additional styles as needed */
}

.shrug {
    font-size: 70px;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    margin-top: 200px; /* Adjust top margin as needed */
}

/* WEBSITE IS CURRENTLY VERY UNSTABLE AND GOING THROUGH HEAVY DEVELOPMENT HELP WILL BE VERY APPRECIATED */
